# general project patterns
**/bin/
**/obj/
**/build/
**/packages/

# Editor specific patterns
.suo
.user
**/.vs/
**/.metadata/
# this might need to be refined. Some of the files in the .idea folder seem to best be put under version control
**/.idea/

# Language specific patterns
.class

# Open Office specific patterns
*.~lock*